 /* .postlist{ 
    margin-left: 10%;
    margin-right: 10%;
}   
.heading
{
  text-align: center;

}

 td, th {
    border: 1px solid #ddd;
    padding: 8px;
    
  } 
 
  /* .design{
    margin-left:110px;
  } */ 